body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  letter-spacing: 1px;
  background-color: #04040a;
  font-family: "Merriweather", serif;
}
.wrapper {
  max-width: 95%;
  margin: auto;
}

p {
  font-weight: bold;
  font-size: 1rem;
}

h3 {
  color: #852b7e;
}

/*==============
  Hero Sec
 ==============*/

.hero {
  background-image: url("../img/movieTime.png");
  width: 100%em;
  height: 31em;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: "Fuzzy Bubbles", cursive;
}

nav {
  padding-top: 22em;
}

.home-btn {
  font-size: 2.5em;
  color: white;
  margin: 0.4em;
  border-radius: 5px;
  background-color: #852b7e;
  cursor: pointer;
}
/*==============
  show box 
 ==============*/

.show-section {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.show-box {
  width: 90%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #0a0a21;
  border: 2px solid white;
  border-radius: 20px;
  padding: 1.2em;
  font-family: "Merriweather", serif;
  box-shadow: -3px 3px 10px 1px rgb(182, 102, 170);
}

.show-info {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2em;
  margin-left: 1em;
}

.show-header {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 900;
  font-size: 2rem;
  align-self: center;
  text-shadow: 2px 2px 9px#d617b0;
}
 
.show-header:hover {
  color: #dee427;
  font-size: 2.1em;
  cursor: pointer;
}
.show-detail {
  display: flex;
  justify-content: space-evenly;
  background-color: #f7d5ef;
  border: 2px double rgb(89, 69, 123);
  border-radius: 20px;
  padding: 0.2em;
}

.show-summary {
  font-size: 2rem;
  margin: 0;
}
.show-img {
  width: 17%;
  height: 37%;
  align-self: center;
  border-radius: 10px;
  border: 2px solid white;
}
/*==============
  episode sec
 ==============*/

.episode-section {
  gap: 2em;
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.card-box {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 2em;
  background-color: lightblue;
  border-radius: 30px;
  border: rgb(224, 226, 233) solid 2px;
  box-shadow: -4px 4px 15px 1px rgb(182, 102, 170);
}

.card-header {
  margin-top: 0;
  width: 100%;
  height: 7.5vh;
  font-size: 1.3rem;
  font-weight: 900px;
}

.card-image {
  margin-top: 0.2em;
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: -3px 3px 10px black;
}

.card-summary {
  font-weight: bold;
  text-align: start;
  margin-bottom: 0;
}

/*=================
  Search Section 
==================*/
.is-hidden {
  display: none;
}

.is-shown {
  display: contents;
}

.search-div {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-between;
}

input,
select {
  margin: 0.5em;
  width: 22%;
  height: 2.5em;
  font-size: 1.3rem;
  border-radius: 10px;
  padding-left: 0.8em;
  border: 2px solid rgb(223, 202, 7);
  box-shadow: -4px 4px 15px 1px rgb(217, 54, 193);
}

input {
  background-image: url("https://static.thenounproject.com/png/101791-200.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 19rem;
}

/*=========
   footer
 ========== */
footer {
  margin-top: 4em;
  font-size: 1.5rem;
  text-align: center;
  color: #d617b0;
  border-top: 1px solid #dee427;
}
.tvmaze-link {
  text-decoration: none;
  color: #d617b0;
  cursor: pointer;
}

.tvmaze-link:hover{
  color: #dee427;
  font-size: 1.6rem;
  text-shadow: 2px 2px 9px#d617b0;
}
/*=========
   Screen 
 ========== */
@media screen and(max-width:768px) {
  .show-screen-section{
    gap: 2em;
    margin: 3em;
    display:flex;
    flex-direction: column;
  }

  .show-screen-box{
    display: flex;
    flex-direction:column;
  }
}
