body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 1px;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
.wrapper {
  max-width: 95%;
  margin: auto;
}

p {
  font-weight: bold;
  font-size: 1.2rem;
}

main {
  margin-top: 3em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
  gap: 2em;
  margin: 3em;
}
/*==============
  Hero Sec
 ==============*/

.hero{
  background-image: url("../img/movieTime.png");
  width:100%em;
  height:70em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0 auto;

}

/*==============
  Card box 
 ==============*/
.card-box {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  padding: 2em;
  background-color:lightblue;
  border-radius: 30px;
  border: rgb(224, 226, 233) solid 2px;
  box-shadow: -4px 4px 15px 1px rgb(182, 102, 170);
}

.card-header {
  margin-top: 0;
  width: 100%;
  height: 7.5vh;
  font-size: 1.3rem;
  font-weight: 900px;
}

.card-image {
  margin-top: 0.2em;
  width: 100%;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: -3px 3px 10px black;
}

.card-summary {
  font-weight: bold;
  text-align: start;
  margin-bottom: 0;
}

/*=================
  Search Section 
==================*/
.is-hidden {
  display: none;
}

.is-shown {
  display: contents;
}

.search-div {
  width: 95%;
  margin: 3em auto;
  display: flex;
  justify-content: space-evenly;
}

input,
select {
  margin: 0.5em;
  width: 22%;
  height: 2.5em;
  font-size: 1.3rem;
  border-radius: 10px;
  padding-left: 0.8em;
  box-shadow: -4px 4px 15px 1px rgb(182, 102, 170);
}

input {
  background-image: url("https://static.thenounproject.com/png/101791-200.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 19rem;
}

/*=========
   footer
 ========== */
footer {
  margin-top: 4em;
  font-size: 1.5rem;
  text-align: center;
  color: #d617b0;
  border-top: 1px solid #dee427;
}
.tvmaze-link {
  text-decoration: none;
  color: #d617b0;
  cursor: pointer;
}

.tvmaze-link:hover {
  color: #dee427;
  font-size: 1.6rem;
}
/*=========
   Screen 
 ========== */

@media screen(min-width:);
